@CHARSET "UTF-8";

#countries, #route{
	margin-left:4px;
}
li{
	list-style-type: none;
}
li img{
	width:45px;
}

li.country{
cursor: pointer;
}
li.country:hover{
text-decoration: underline;
}
li.country-detail{
display:none;
}
.gold{
	background-color:#B8860B;
}
.silver{
	background-color:#C0C0C0;
}
.bronze{
	background-color:#D2691E;
}

#splash li { list-style-type: disc; }
#splash  { padding:20px; }

#calculateRoute {
	display: none;
}

#countries,
#route {
	overflow-x: hidden;
	height: 491px;
	overflow-y: scroll;
}

#calculateRoute {
	margin-bottom: 20px;
}

.leaflet-control-zoom {
	display: none;
}}

.plane{
		transform:rotate(0deg);
-ms-transform:rotate(0deg); /* IE 9 */
-webkit-transform:rotate(0deg); /* Safari and Chrome */


		animation: rotate 2s;
-webkit-animation: rotate 2s; /* Safari and Chrome */

		}

@keyframes rotate
{
to {    transform:rotate(360deg);
-ms-transform:rotate(360deg); /* IE 9 */
-webkit-transform:rotate(360deg); /* Safari and Chrome */}
}

@-webkit-keyframes rotate /* Safari and Chrome */
{

to {    transform:rotate(360deg);
-ms-transform:rotate(360deg); /* IE 9 */
-webkit-transform:rotate(360deg); /* Safari and Chrome */}
}

#score { padding:10px; background:#e1e1e1;}
#score span.score { float:right; font-weight:bold; margin-right:0px; }
#score > span { margin-right:20px; }