@CHARSET "UTF-8";

#countries, #route{
	margin-left:4px;
}
li{
	list-style-type: none;
}
li img{
	width:45px;
}

li.country{
cursor: pointer;
}
li.country:hover{
text-decoration: underline;
}
li.country-detail{
display:none;
}
.gold{
	color:#B8860B;
}
.silver{
	color:#C0C0C0;
}
.bronze{
	color:#D2691E;
}

#splash li { list-style-type: disc; }
#splash  { padding:20px; }

#calculateRoute {
	display: none;
}

#countries,
#route {
	overflow-x: hidden;
	height: 491px;
	overflow-y: scroll;
}

#calculateRoute {
	margin-bottom: 20px;
}

.leaflet-control-zoom {
	display: none;
}}

