@CHARSET "UTF-8";

#countries, #route{
	margin-left:4px;
}
li{
	list-style-type: none;
}
li img{
	width:45px;
}

li.country{
cursor: pointer;
}
li.country:hover{
text-decoration: underline;
}
li.country-detail{
display:none;
}
.gold{
	color:#B8860B;
}
.silver{
	color:#C0C0C0;
}
.bronze{
	color:#D2691E;
}